.side-menu-list .with-sub.opened li.opened a {
  background-color: #e2e9ec;
}
.width-adjust-table {
  width: 101.3%;
}
.table-per-page {
  margin-top: -24px;
}
.adjust-gateway-attr {
	margin-left: -25px;
}
.eapi-val {
	text-transform: uppercase;
}